---
import Layout from "../layouts/Base.astro";
import data from "../../public/resume.json";
import FormattedDate from "../components/FormattedDate.astro";
import SkillBadge from "../components/skill-badge.astro"

const hobbies = ["Tennis 🎾", "Football ⚽", "Guitar 🎸", "Music 🎶", "Art 🎨", "Psychology 🧠", "Movies 🎬"];
---

<Layout title="About Me" description="Hey, I'm Gabriel 👋">
  <div class="flex flex-wrap justify-center gap-4 mb-4">
    <div class="avatar print:hidden">
      <div class="mask mask-hexagon w-64">
        <img src="/profile.png" class="rounded-full" alt="author avatar" />
      </div>
    </div>
    <div class="flex-1">
      <h2>Gabriel Jauffret</h2>
      <h4><em>Full-stack developer</em></h4>
      <p>
        Hi, I'm Gabriel, a passionate full-stack developer with 7 years of
        experience, living in Montreal, CA.<br />I am currently looking for a
        job as a lead or full-stack developer.
      </p>
    </div>
  </div>
  <div class="flex flex-wrap gap-4">
    <div class="w-64 space-y-4 sm:order-1 order-2 print:order-1 sm:border-e-2">
      <section>
        <h3>Languages</h3>
        {
          data.languages.map((lang) => {
            return (
              <div>
                {lang.language}: {lang.fluency}
              </div>
            );
          })
        }
      </section>
      <section>
        <h3>Skills</h3>
        <h4>Languages</h4>
        {
          data.skills
            .filter((el) => el.keywords.includes("Language"))
            .map((skill) => {
              return (
                <SkillBadge skill={skill}></SkillBadge>
              );
            })
        }
        <h4 class="mb-1 mt-2">Frameworks</h4>
        {
          data.skills
            .filter((el) => el.keywords.includes("Framework"))
            .map((skill) => {
              return (
                <SkillBadge skill={skill}></SkillBadge>
              );
            })
        }
        <h4 class="mb-1 mt-2">Databases</h4>
        {
          data.skills
            .filter((el) => el.keywords.includes("Database"))
            .map((skill) => {
              return (
                <SkillBadge skill={skill}></SkillBadge>
              );
            })
        }
        <h4 class="mb-1 mt-2">Infra</h4>
        {
          data.skills
            .filter((el) => el.keywords.includes("Infra"))
            .map((skill) => {
              return (
                <SkillBadge skill={skill}></SkillBadge>
              );
            })
        }
        <h4 class="mb-1 mt-2">Other</h4>
        {
          data.skills
            .filter((el) => el.keywords.includes("Other"))
            .map((skill) => {
              return (
              <SkillBadge skill={skill}></SkillBadge>
              );
            })
        }
      </section>
      <section>
        <h3>Hobbies</h3>
        {
          hobbies.map((hobbie) => {
            return <span class="badge mr-1 mb-1">{hobbie}</span>;
          })
        }
      </section>
    </div>
    <div class="flex-1 sm:order-2 order-1 print:order-2 print:bg-white">
      <h2 class="print:text-base-100">Work Experience &#x1F4BC;</h2>
      {
        data.work.map((workExperience) => {
          return (
            <div class="card bg-secondary mb-4">
              <div class="card-body text-base-100 print:p-0">
                <div class="flex flex-wrap">
                  <div>
                    <h2 class="card-title">{workExperience.position}</h2>
                    <em class="capitalize">{workExperience.company}</em>
                  </div>
                  <span class="sm:ml-auto shrink-0">
                    <FormattedDate
                      date={new Date(workExperience.startDate)}
                      style={"short"}
                    />
                    →
                    <FormattedDate
                      date={new Date(workExperience.endDate)}
                      style={"short"}
                    />
                  </span>
                </div>
                <p class="m-0 whitespace-break-spaces">
                  {workExperience.summary}
                </p>
                <p>
                  {data.skills
                    .filter((el) =>
                      el.keywords.includes(workExperience.company)
                    )
                    .map((skill) => {
                      return (
                        <SkillBadge skill={skill} size="sm"></SkillBadge>
                      );
                    })}
                </p>
              </div>
            </div>
          );
        })
      }
      <h2>Education 🎓</h2>
      {
        data.education.map((education) => {
          return (
            <div class="card bg-secondary mb-4">
              <div class="card-body text-base-100 print:p-0">
                <div class="flex flex-wrap">
                  <div>
                    <h2 class="card-title">{education.institution}</h2>
                    <em class="capitalize">{education.studyType}</em>
                  </div>
                  <span class="sm:ml-auto shrink-0">
                    <FormattedDate
                      date={new Date(education.startDate)}
                      style={"year"}
                    />
                    →
                    <FormattedDate
                      date={new Date(education.endDate)}
                      style={"year"}
                    />
                  </span>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
